@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.page {
  padding: 1rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
  height: 100vh;
}

.body {
  flex: 1;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  gap: 2rem;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.app-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.header-right {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 2rem;
}

.header-contact {
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .header-mission {
    display: none;
  }

  .header-right {
    gap: 1rem;
  }

  .header-contact {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 650px) {
  .page {
    padding: 0.5rem 0.9rem;
  }

  .header-mission {
    display: none;
  }

  .header-right {
    gap: 1rem;
  }

  .header-contact {
    padding: 0.5rem 1rem;
    display: none;
  }
}

@media (max-width: 450px) {
  .header-software {
    display: none;
  }

  .tala-icon {
    width: 11.714vw;
    height: 11.714vw;
  }

  .app-title {
    font-size: 6.571vw;
  }

  .header-right {
    font-size: 4.5vw;
  }
}

/* BODY */

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.mission-icon-hide {
  display: none;
}

.mission-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mission-left {
  display: flex;
  flex-direction: column;
  max-width: 31vw;
  min-width: 300px;
  gap: 1rem;
  margin-left: 1.5rem;
}

.mission-text {
  font-size: 45px;
  font-weight: 650;
  letter-spacing: 1.5px;
}

.mission-description {
  font-size: clamp(15px, 2vw, 20px);
}

.mission-icon {
  margin-right: 5rem;
  min-width: 320px;
  min-height: 370px;
}

@media (max-width: 768px) {
  .mission-left {
    max-width: 400px;
    margin-left: unset;
  }

  .mission-text {
    font-size: clamp(30px, 4.5vw, 45px);
  }

  .mission-description {
    font-size: clamp(15px, 2vw, 20px);
  }

  .mission-block {
    flex-direction: column;
    align-items: center;
  }

  .mission-icon {
    transform: translateY(-2rem);
    transform: translateX(3rem);
    display: none;
  }

  .mission-icon-hide {
    display: block;
    min-height: clamp(250px, 60vw, 300px);
    max-height: clamp(250px, 60vw, 300px);
    min-width: clamp(300px, 90vw, 500px);
    max-width: clamp(300px, 90vw, 500px);
  }
}

.mission-link {
  padding: 1rem 2rem;
  color: white;
  background-color: black;
  width: max-content;
  border-radius: 20px;
}

/* SOFTWARE */

.software-block {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  justify-content: center;
}

.software-block-header {
  display: flex;
  gap: 1rem;
}

.software-header {
  font-size: 35px;
  font-weight: 650;
}

.software-title {
  font-size: 25px;
  font-weight: 400;
}

.software-description {
  font-size: 13px;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.software-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.software-left {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: space-between;
}

@media (max-width: 450px) {
  .software-block-header {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .software-title {
    font-size: clamp(25px, 3.5vw, 35px);
  }
}

.software-block-grid {
  display: grid;
  grid-template-columns: repeat(2, clamp(500px, 60vw, 600px));
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  row-gap: 1rem;
  gap: 3rem;
}

.s1 {
  padding: 2rem;
  background-color: #f3f3f3;
}
