@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.page {
  padding: 1rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
  height: 100vh;
}

.body {
  flex: 1;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  gap: 2rem;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.app-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.header-right {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 2rem;
}

.header-contact {
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .header-software {
    display: none;
  }

  .header-right {
    gap: 1rem;
  }

  .header-contact {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 650px) {
  .page {
    padding: 0.5rem 0.9rem;
  }

  .header-mission {
    display: none;
  }

  .header-right {
    gap: 1rem;
  }

  .header-contact {
    padding: 0.5rem 1rem;
    display: none;
  }
}

@media (max-width: 450px) {
  .tala-icon {
    width: 11.714vw;
    height: 11.714vw;
  }

  .app-title {
    font-size: 6.571vw;
  }

  .header-right {
    font-size: 4.5vw;
  }
}

/* BODY */

.body {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.5rem;
  width: 100%;
  max-width: 100%;
}

.mission-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mission-left {
  display: flex;
  flex-direction: column;
  max-width: 31vw;
  min-width: 300px;
  gap: 1rem;
}

.mission-text {
  font-size: 45px;
  font-weight: 650;
  letter-spacing: 1.5px;
}

.mission-description {
  font-size: clamp(15px, 2vw, 20px);
}

.mission-icon {
  margin-right: 5rem;
  min-width: 320px;
  min-height: 370px;
}

@media (max-width: 768px) {
  .mission-left {
    max-width: 400px;
  }

  .mission-text {
    font-size: clamp(30px, 4.5vw, 45px);
  }

  .mission-description {
    font-size: clamp(15px, 2vw, 20px);
  }

  .mission-block {
    flex-direction: column;
    align-items: center;
  }

  .mission-icon {
    transform: translateY(-2rem);
    transform: translateX(3rem);

    min-height: 300px;
    max-height: 300px;
  }
}
